<.header>
  Edit Pertanyaan
</.header>

<.pertanyaan_form changeset={@changeset} action={~p"/pertanyaans/#{@pertanyaan}"} />

<.back navigate={~p"/kuesioners/#{get_kuesioner_id(@changeset)}"}>Kembali</.back>
