<.header>
  New Pertanyaan
  <:subtitle>Use this form to manage pertanyaan records in your database.</:subtitle>
</.header>

<.pertanyaan_form changeset={@changeset} action={~p"/pertanyaans"} />

<.back navigate={~p"/pertanyaans"}>Back to pertanyaans</.back>
