<.header>
  Edit Respons <%= @respons.id %>
  <:subtitle>Use this form to manage respons records in your database.</:subtitle>
</.header>

<.respons_form changeset={@changeset} action={~p"/respons/#{@respons}"} />

<.back navigate={~p"/respons"}>Back to respons</.back>
