<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:jenis]} type="text" label="Jenis" />
  <.input field={f[:penyedia]} type="text" label="Penyedia" />
  <.input field={f[:tahun]} type="number" label="Tahun" />
  <:actions>
    <.button>Save Kuesioner</.button>
  </:actions>
</.simple_form>
